body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    transform: scale(0.7);
}

h1, h2 {
    text-align: center;
    color: #333;
    margin: 0px;
    padding: 5px;
}

.container{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.input-box{
    padding-right: 20px;
    height: 200px;
    width: 50%;
}

.input-field{
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    padding-top: 10px;
    
}

.input-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 5px;
    color: #333;
}

.input-field input[type="text"] {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: #444;
}

.button {
    display: inline-block;
    margin-right: 3px;
    padding: 10px 20px;
    background-color: #777;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #444;
}

#clear-container{
    display: inline-block;
}

.values-box {
    border: 2px solid;
    border-color:#444;
    height: 200px;
    width: 50%;
    
    border-radius: 15px; 
    
    padding-left: 5px;
    color: #444;
}

#note{
    font-size: small;
    font-style: italic;
}